body {
  font-family: Roboto;
}

nav {
  font-weight: 900;
  font-size: x-large;
  margin: 1rem;
  width: 30%;
  border-bottom: 2px solid;
  border-color: rgb(243, 240, 240);
  text-transform: uppercase;
  padding: 2rem 0;
}

img {
  width: 30%;
  height: 30%;
  margin: calc(10% / 6);
}
